html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body * {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    font-family: "Microsoft YaHei", "微软雅黑", "黑体", "宋体", serif;
    background-attachment: fixed;
    background-color: #F0F8FF;
}