
.power_buttons_container{
    position:absolute;
    top:30px;
    right:25px;
}
.round_button{
    width:50px;
    height:50px;
    margin-bottom:15px;
    border:0px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px #b0c9f7;
    background-color: #b0c9f7;
    transition: 0.6s;
    /*如果这里不加padding，在ipad版safari上padding会过大导致错位*/
    padding:0px
}
.round_button_image{
    margin-top:3px;
    width:35px;
}
.round_button_block{
    width:50px;
    height:50px;
    margin-bottom:15px;
}
.option_container{
    position:absolute;
    bottom:5px;
    right:25px;
}