
.panel{
    display:flex;
    margin-left:15px;
    margin-top:15px;
    height:calc(100vh - 45px);
    width:calc(100% - 100px);
}
.console_controller{
    width:55%;
    height:100%;
    border: 1px solid #bcbcbc;
    border-radius:15px;
    background-color: #333333;
    box-shadow: 0px 0px 10px #ccc;
}
.console_output{
    position:relative;
    height:100%;
    width:100%;
    border-radius:15px;
    z-index:1;
}
.executer{

    display:flex;
    position:fixed;
    width:calc(100% - 15px);
    left:15px;
    top:calc(100% - 65px);
    height:50px;
}
.console_toolbox{
    display:flex;
    position: fixed;
    width:calc(100% - 15px);
    left:15px;
    top:15px;
    height:50px;
}
.command{
    padding:10px 15px;
    height:calc(100% - 28px);
    width:calc(100% - 100px);
    border-radius:23px;
    box-shadow: 0px 0px 10px #ccc;
    font-family:'Courier New', Courier, monospace;
    font-size:19px;
}
.command_input{
    border:0cm;
}
.panel_right{
    margin-left:15px;
    width:calc(62% - 15px);
}
.send_button{
    margin-left:15px;
    width:50px;
    height:50px;
    margin-bottom:15px;
    border:0px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px #ccc;
    background-color: #b0c9f7;
    transition: background-color 0.2s; 
}
.send_button_image{
    margin-top:7px;
    margin-left:6px;
    width:38px;
}