.panel{
    width: 32em;
    text-align: center;
    line-height: 15px;
     /*由于触发了BFC规范，可以解决margin塌陷，完成垂直的居中*/
    margin: 0 auto;
    padding-top:calc(40vh - 15em);
}
.logo{
    width:200px;
    margin: 0 auto;
    line-height: 400px;
    text-align: center;
    padding-bottom: 15px;
}
.login_info~{
    width:400px;
    height:50px;
    background-color: rgb(97, 168, 255);
    border-radius:25px;
    border: 0px solid #bcbcbc;
    margin: 0 auto;
    font-size:23px;
    color:white;
}
.login_info{
    margin:10px 0;
    padding:0px 25px;
    width:calc(100% - 50px);
    height:50px;
    background-color: rgb(97, 168, 255);
    border-radius:25px;
    font-size:26px;
    border: 0px solid #bcbcbc;
    color:white;
}
.login_button{
    margin-top:10px;
    margin:10px 0;
    width:100%;
    height:50px;
    background-color: rgb(97, 168, 255);
    border-radius:25px;
    font-size:26px;
    border: 0px solid #bcbcbc;
    color:white;
}

.history_form {

    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    font-size: 16px;
    /* IE9以下不支持rgba模式 */
    background-color: rgba(0, 0, 0, 0.5);
    /* 兼容IE8及以下 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000,endColorstr=#7f000000);
    display: none;
    z-index:5;
}
.history_form_container{
    display: flex;
    background-color: #f8f8f8;
    width: 700px;
    height: 400px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    box-sizing: border-box;
    border: 1px solid #bcbcbc;
    border-radius:15px;
    box-shadow: 0px 0px 10px #ccc;
    padding: 1em;    
}
.history_form_left_buttons{
    display:flex;
    flex-direction: column;
    height:calc(100% + 15px);
}
.history_form_left_buttons_buttom_buttons{
    width:100%;
    margin-bottom:1px;
    display:flex;
    flex:1;
    flex-direction:column-reverse
}
.history_form_table{
    margin-left:15px;
    width:calc(100% - 65px);
}
.history_form_line{
    display:flex;
    height:50px;
}
.history_form_line_block{
    width:15px;
    height:100%;
}

.address_display{
    height:100%;
    width:calc(100% - 315px);
    border-radius:50px;
    box-shadow: 0px 0px 10px #ccc;
    border: 1px solid #bcbcbc;
    font-size:25px;
    color:white;
    /*如果这里不加padding，在ipad版safari上padding会过大导致错位*/
    padding:0;
    background-color: #36f;
}
.server_name_display{
    height:100%;
    width:170px;
    border-radius:50px;
    box-shadow: 0px 0px 10px #ccc;
    border: 1px solid #bcbcbc;
    font-size:25px;
    color:white;

    background-color: #36f;
}
.line_block{
    width:100%;
    height:15px
}