.settings_form {

    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    font-size: 16px;
    /* IE9以下不支持rgba模式 */
    background-color: rgba(0, 0, 0, 0.5);
    /* 兼容IE8及以下 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000,endColorstr=#7f000000);
    display: none;
    z-index:5;
}
.settings_form_container{
    display: flex;
    background-color: #f8f8f8;
    width: 600px;
    height: 400px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    box-sizing: border-box;
    border: 1px solid #bcbcbc;
    border-radius:15px;
    box-shadow: 0px 0px 10px #ccc;
    padding: 1em;    
}
.settings_form_left_buttons{
    display:flex;
    flex-direction: column;
    height:calc(100% + 15px);
}
.settings_form_left_buttons_buttom_buttons{
    width:100%;
    margin-bottom:1px;
    display:flex;
    flex:1;
    flex-direction:column-reverse
}
.settings_form_table{
    margin-left:15px;
    width:calc(100% - 65px);
}
.settings_form_line1{
    display:flex;
    height:50px;
}
.settings_form_line1_block{
    width:15px;
    height:100%;
}
.set_simple_shortcut_form_overlay{
    position:fixed;
    width:100%;
    height:100%;
    display:none;
    z-index:6;
}
.set_simple_shortcut_form{
    background-color: #f8f8f8;
    width: 500px;
    height: 215px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    box-sizing: border-box;
    border: 1px solid #bcbcbc;
    border-radius:15px;
    box-shadow: 0px 0px 10px #ccc;
    padding: 1em;   
}
.set_simple_shortcut_form_line{
    display:flex;
    margin-bottom: 5px;
    width:100%;
    height:60px;
    padding:0;
}
.set_simple_shortcut_form_title{
    justify-content:center;
    align-items: center;
    height:50px;
    width:calc(100% - 70px);
    margin-left:15px;
    font-size:33px;
    font-family:Arial, Helvetica, sans-serif
}
.set_simple_shortcut_form_textarea{
    justify-content:center;
    align-items: center;
    height:40px;
    width:calc(100% - 70px);
    margin-left:15px;
    font-size:28px;
    font-family:Arial, Helvetica, sans-serif;
    resize:none;
    outline: none;
    background:transparent;
    border-bottom: 1px solid #000;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    padding:0;
    border-radius: 0; /* 去除圆角 */
    -webkit-appearance: none; /* 移除 iOS 默认样式 */
    appearance: none;
    box-shadow: none; /* 去除默认阴影 */
}
.show_simple_shortcut_custom_form{
    height:100%;
    width:calc(calc(100% - 30px) / 3);
    border-radius:50px;
    box-shadow: 0px 0px 10px #ccc;
    border: 1px solid #bcbcbc;
    font-size:25px;
    color:white;
    white-space: nowrap;
    padding:0;
    background-color: #36f;

}
.developer_panel{
    position:fixed;
    width:640px;
    height:360px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: white;
    display:none;
    z-index:6;
}
