.shortcuts{
    height:115px;
    position:relative;
}
.param_shortcuts{
    display:flex;
    height:50px;
    width:100%;
}
.param_shortcut_input_container{
    height:100%;
    width:50px;
    background-color: #36f;
}
.param_shortcut_input1{
    margin-top:5px;
    margin-left:5px;
    margin-right:5px;
    width:200px;
    height:35px;
    border-bottom: 1px solid white;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    outline:none;
    font-family: Arial, Helvetica, sans-serif;
    font-size:24px;
    color:white;
    background:transparent;
    resize:none;
}
.param_shortcut1{
    display:flex;
    height:100%;
    /*width:calc(calc(100% - 15px) / 2);*/
    width:100%;
    background-color: #36f;
    border-radius:50px;
    box-shadow: 0px 0px 10px #ccc;
    /*z-index:0;*/
    font-family:Arial, Helvetica, sans-serif;
    font-size:30px;
    color:white;
    justify-content:center;
    align-items: center;
}
.param_shortcut2{
    margin-left:15px;
    height:100%;
    width:calc(calc(100% - 15px) / 2);
    background-color: white;
    border-radius:50px;
    box-shadow: 0px 0px 10px #ccc;
}
.simple_shortcuts{
    display:flex;
    margin-top:15px;
    height:50px;
    width:100%;
}
.simple_shortcut1{
    height:100%;
    width:calc(calc(100% - 30px) / 3);
    border-radius:50px;
    box-shadow: 0px 0px 10px #ccc;
    border: 1px solid #bcbcbc;
    background-color: #36f;
    font-size:24px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}
.simple_shortcut_pad{
    height:100%;
    width:15px;
}
/*
.simple_shortcut2{
    margin-left:15px;
    height:100%;
    width:calc(calc(100% - 45px) / 4);
    border-radius:50px;
    box-shadow: 0px 0px 10px #ccc;
    border: 1px solid #bcbcbc;
    background-color: #36f;
}
.simple_shortcut3{
    margin-left:15px;
    height:100%;
    width:calc(calc(100% - 45px) / 4);
    border-radius:50px;
    box-shadow: 0px 0px 10px #ccc;
    border: 1px solid #bcbcbc;
    background-color: #36f;
}*/
.simple_shortcut_menu{
    margin-left:15px;
    height:100%;
    width:calc(calc(100% - 45px) / 4);
    border-radius:50px;
    box-shadow: 0px 0px 10px #ccc;
    border: 1px solid #bcbcbc;
    background-color: #36f;
}